# Ignore virtual environment
venv/

# Ignore environment variable files
*.env*

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore database files (if any)
*.db

# Ignore migration history (if not using Flask-Migrate)
migrations/

# Ignore Flask run log files (if any)
*.log